.my-drop-zone { 
    border: dotted 3px lightgray;
    height: 100px;
}
.nv-file-over { 
    border: dotted 3px red; 
} /* Default class applied to drop zones on over */

.imgThumbnail{
	padding: 4px;
}

.tagIsSelect {
    color: red;
    opacity: 1;
    font-style: italic;
}

.tagIsNotSelect {
    color: blue;
    opacity: 0.5;
    font-weight: bold;
}