<app-navbar-user></app-navbar-user>
<div class="jumbotron">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <app-alert></app-alert>
        <h1>Dodaj zdjęcie</h1>
        <form [formGroup]="addPhotoForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="title">Tytuł</label>
                    <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Tytuł jest wymagany</div>
                    </div>
                    <label for="description">Opis</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Opis jest wymagany</div>
                    </div>
                </div>
                <div class="form-group">
                        <button [disabled]="loading" class="btn btn-dark">Dodaj zdjęcie</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <a [routerLink]="['/strona-domowa']" class="btn btn-link" style="color: #292828">Powróć do profilu</a>
                    </div>
                </form>
                <h3>Wybierz plik</h3>
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)" [uploader]="uploader"
                    class="well my-drop-zone" >Upuść tutaj obraz</div>
                <!-- <h3>Upload queue</h3>
                <p>Queue length: {{ uploader?.queue?.length }}</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="80%">Nazwa</th>
                            <th>Akcja</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of uploader.queue">
                            <td><strong>{{ item?.file?.name }}</strong></td>
                            <td *ngIf="uploader.isHTML5" nowrap>{{
                                item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                            <td *ngIf="uploader.isHTML5">
                                <div class="progress" style="margin-bottom: 0;">
                                    <div class="progress-bar"
                                        [ngStyle]="{ 'width': item.progress + '%' }"></div>
                                </div>
                            </td>
                            <td class="text-center"><span *ngIf="item.isSuccess"><i
                                    class="glyphicon glyphicon-ok"></i></span> <span *ngIf="item.isCancel"><i
                                    class="glyphicon glyphicon-ban-circle"></i></span> <span
                                *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                            </td>
                            <td nowrap>
                                <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()"
                                    [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                    <span class="glyphicon glyphicon-upload"></span> Wyślij
                                </button>
                                <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> Anuluj
                                </button>
                                <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                    <span class="glyphicon glyphicon-trash"></span> Usuń
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table> -->
                <div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()"
                        [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button> -->
                </div>
        
                <!-- <cl-image public-id="stokvel/bridge" class="thumbnail inline" angle="20"
                    format="jpg"> <cl-transformation height="150" width="150"
                    crop="fill" radius="20"></cl-transformation> </cl-image>
                -->
                <div>
                    <p *ngIf="currentSize == startSize && !submitted">
                        Dodaj obraz, przeciągając i upuszczając go na powyższe pole
                    </p>
                    <p *ngIf="currentSize == startSize && submitted"  style="color: red;">
                        Plik jest wymagany
                    </p>
                    <div *ngIf="currentSize != startSize">
                        <cl-image [public-id]="imageDataArray[imageDataArray.length-1].public_id" class="imgThumbnail" format="jpg">
                            <cl-transformation height="300" width="500" crop="fill"></cl-transformation>
                        </cl-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    