<app-navbar-user></app-navbar-user>
<div class="jumbotron">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <app-alert></app-alert>
            <h1>Edycja profilu</h1>
            <form [formGroup]="addPhotoForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Imię</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Imię jest wymagane</div>
                    </div>
                    <label for="surname">Nazwisko</label>
                    <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                    <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                        <div *ngIf="f.surname.errors.required">Nazwisko jest wymagane</div>
                    </div>
                    <label for="description">Opis</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Opis jest wymagany</div>
                    </div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-dark">Edytuj profil</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/strona-domowa']" class="btn btn-link" style="color: #292828">Powróć do profilu</a>
                </div>
            </form>
            
            <h3>Edycja avatara</h3>
            <h4>Wybierz plik</h4>
            <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)" [uploader]="uploader"
                class="well my-drop-zone" >
                Upuść tutaj obraz
            </div>
            <div style="height: 10px;"></div>
            <input type="file" ng2FileSelect [uploader]="uploader" />
            <div>
                <div>
                    <div class="progress">
                        <div class="progress-bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
            </div>

            <div>
                <p *ngIf="currentSize == startSize">
                    <ng-container *ngIf="user">
                        <cl-image [public-id]="user.avatar" class="imgThumbnail" format="jpg" class="img-fluid">
                        </cl-image>
                    </ng-container>
                </p>
                <div *ngIf="currentSize != startSize">
                    <cl-image [public-id]="imageDataArray[imageDataArray.length-1].public_id" class="imgThumbnail" format="jpg" class="img-fluid">
                    </cl-image>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
    