<app-navbar-user></app-navbar-user>
<div class="jumbotron">
    <div class="container">
        <div class="row">
        <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <app-alert></app-alert>
        <h1>Edycja profilu</h1>
        <form [formGroup]="addPhotoForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="name">Imię</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Imię jest wymagane</div>
                    </div>
                    <label for="surname">Nazwisko</label>
                    <input type="text" formControlName="surname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.surname.errors }" />
                    <div *ngIf="submitted && f.surname.errors" class="invalid-feedback">
                        <div *ngIf="f.surname.errors.required">Nazwisko jest wymagane</div>
                    </div>
                    <label for="password">Hasło</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Hasło jest wymagane</div>
                        <div *ngIf="f.password.errors.minlength">Hasło musi mieć co najmniej 6 znaków</div>
                    </div>
                    <label for="description">Opis</label>
                    <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" />
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Opis jest wymagany</div>
                    </div>
                </div>
                <div class="form-group">
                        <button [disabled]="loading" class="btn btn-dark">Edytuj profil</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <a [routerLink]="['/strona-domowa']" class="btn btn-link" style="color: #292828">Powróć do profilu</a>
                    </div>
                </form>
                <h3>Edycja avatara</h3>
                <h4>Wybierz plik</h4>
                <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)" [uploader]="uploader"
                    class="well my-drop-zone" >Upuść tutaj obraz</div>
                <div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <!-- <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()"
                        [disabled]="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> Upload all
                    </button>
                    <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                    </button>
                    <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> Remove all
                    </button> -->
                </div>
        
                <!-- <cl-image public-id="stokvel/bridge" class="thumbnail inline" angle="20"
                    format="jpg"> <cl-transformation height="150" width="150"
                    crop="fill" radius="20"></cl-transformation> </cl-image>
                -->
                <div>
                    <p *ngIf="currentSize == startSize && !submitted">
                        Dodaj obraz, przeciągając i upuszczając go na powyższe pole
                    </p>
                    <p *ngIf="currentSize == startSize && submitted"  style="color: red;">
                        Plik jest wymagany
                    </p>
                    <div *ngIf="currentSize != startSize">
                        <cl-image [public-id]="imageDataArray[imageDataArray.length-1].public_id" class="imgThumbnail" format="jpg">
                            <cl-transformation height="300" width="500" crop="fill"></cl-transformation>
                        </cl-image>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    