<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" >
    <img src="../../assets/img/logoMini.png" style="position: relative; bottom: -10px" height="50" alt="logo">
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <div class="navbar-nav">
        <a class="nav-item nav-link active" [routerLink]="['/ranking']" >Ranking <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" >Features</a>
        <a class="nav-item nav-link" >Pricing</a>
        <a class="nav-item nav-link disabled" >Disabled</a>
    </div>
    <p class="navbar-nav mr-auto"></p>

    <div class="input-group form-inline mr-auto search-div" style="margin: 5px; width: 400px;">
        <input class="form-control" type="search" placeholder="Szukana fraza" aria-label="Search">
        <div class="input-group-append">
            <button class="btn btn btn-dark" type="button" id="inputGroupFileAddon04">Szukaj</button>
        </div>
    </div>
    <cl-image public-id="{{currentUser.avatar}}" format="jpg" class="img-fluid" style="border-radius: 50%;">
        <cl-transformation width="50" height="50" gravity="faces" crop="fill">
        </cl-transformation>
    </cl-image>
    <h2 class="login_text">{{currentUser.login}}</h2>
    <button  class="btn btn-dark" [routerLink]="['/logowanie']" style="margin: 5px;">Wyloguj</button>
</div>
</nav>