<nav class="navbar navbar-expand-lg navbar-light bg-light">
<a class="navbar-brand" >
    <img src="../../assets/img/logoMini.png" style="position: relative; bottom: -10px" height="50" alt="logo">
</a>

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <div class="navbar-nav">
        <button class="btn btn-link menu_button" [routerLink]="['/ranking']">Ranking</button>
        
        <ng-container ngbDropdown >
            <button class="btn btn-link menu_button" id="dropdownBasic1" ngbDropdownToggle>Szukaj</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="btn btn-link menu_button" [routerLink]="['/szukaj-wedlug-daty']" >Szukaj według dat</button>
                <button class="btn btn-link menu_button" [routerLink]="['/szukaj-wedlug-tagu']" >Szukaj według tagu</button>
                <button class="btn btn-link menu_button" [routerLink]="['/szukaj-wedlug-nazwy']" >Szukaj według nazwy</button>
            </div>
        </ng-container>

        <button class="btn btn-link menu_button" [routerLink]="['/strona-domowa']">Profil</button>
    </div>
    <p class="navbar-nav mr-auto"></p>

    <div class="form-inline" style="min-width: 210px;">
        <!-- <cl-image public-id="{{currentUser.avatar}}" format="jpg" class="img-fluid" style="border-radius: 50%;">
            <cl-transformation width="50" height="50" gravity="faces" crop="fill">
            </cl-transformation>
        </cl-image> -->
        <h2 class="login_text">{{currentUser.login}}</h2>
        <button  class="btn btn-dark" [routerLink]="['/logowanie']" style="margin: 5px;">Wyloguj</button>
    </div>
</div>
</nav>