<app-navbar-user></app-navbar-user>
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <cl-image public-id="{{currentUser.avatar}}" format="jpg" class="img-fluid" style="border-radius: 50%;">
                    <cl-transformation width="400" height="400" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
                <button class="btn btn-dark" style="margin: 10px;">Zmień avatar</button>
            </div>
            <div class="col-md-9">
                <h1>{{currentUser.login}}</h1>
                <p>{{currentUser.description}}</p>
                <button class="btn btn-dark" style="margin: 10px;">Zmień opis</button>
                <!-- <button class="btn btn-dark" style="margin: 10px;" routerLink="/zmiana-h">Zmień hasło</button> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-1" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-2" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-3" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-4" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-5" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-6" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
            <div class="col-md-6 col-lg-4 userPhoto">
                <cl-image public-id="photo-7" class="img-fluid" format="jpg">
                    <cl-transformation width="500" height="300" gravity="faces" crop="fill">
                    </cl-transformation>
                </cl-image>
            </div>
        </div>
    </div>
</div>
    