<app-navbar-user></app-navbar-user>
<div class="jumbotron">
    <div class="container">
        <div class="row" *ngIf="user">
            <div class="col-md-3 text-center">
                    <cl-image public-id="{{user.avatar}}" format="jpg" class="img-fluid" style="border-radius: 50%;">
                        <cl-transformation width="400" height="400" gravity="faces" crop="fill">
                        </cl-transformation>
                    </cl-image>
                    <!-- <button class="btn btn-dark" style="margin: 10px;">Zmień avatar</button> -->
            </div>
            <div class="col-md-9">
                <h1>{{user.login}}</h1>
                <p>{{user.description}}</p>
                <button class="btn btn-dark" style="margin: 10px;" [routerLink]="['/edycja-profilu']">Edytuj profil</button>
                <button class="btn btn-dark" style="margin: 10px;" [routerLink]="['/dodaj-zdjecie']">Dodaj zdjęcie</button>
                <!-- <button class="btn btn-dark" style="margin: 10px;" routerLink="/zmiana-h">Zmień hasło</button> -->
            </div>
        </div>
        <div style="height: 60px;"></div>
        <div class="row">
            <div *ngFor="let photo of userPhotos;" class="col-sm-12 col-xl-4 col-md-6 portfolio-item" style="margin-bottom: 30px;">
                <div class="card h-100">
                    <a href="#">
                        <a>
                            <cl-image public-id="{{photo.file_path}}" class="img-fluid" format="jpg">
                                <cl-transformation width="700" height="400" gravity="faces" crop="fill">
                                </cl-transformation>
                            </cl-image>
                        </a>
                    </a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a>{{photo.title}}</a>
                        </h4>
                        <h2>★ {{photo.rating}} &nbsp;<small><small>(liczba ocen: {{photo.number_of_ratings}} )</small></small></h2>
                        <button class="btn btn-dark">Więcej</button>
                        &nbsp;
                        <button class="btn btn-dark">Edytuj</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    