<app-navbar-user></app-navbar-user>
<div class="jumbotron">
    <div class="container">
        <h1 class="my-4">Ranking
            <small>Photop</small>
        </h1>

        <!-- Project One -->
        <div *ngFor="let photo of photos | paginate: {itemsPerPage: 9, currentPage: p} let i = index " [attr.data-index]="i">
            <div class="row">
                <div class="col-md-7">
                    <a>
                        <cl-image public-id="{{photo.file_path}}" class="img-fluid" format="jpg">
                            <cl-transformation width="700" height="300" gravity="faces" crop="fill">
                            </cl-transformation>
                        </cl-image>
                    </a>
                    <h2>Miejsce {{i+1}}</h2>
                </div>
                <div class="col-md-5">
                    <h3>{{photo.title}}</h3>
                    <p>{{photo.description}}</p>
                    <h2>★ {{photo.rating}} &nbsp;&nbsp;&nbsp;
                        <small>
                            <small>(liczba ocen:
                                <span *ngIf="photo.number_of_ratings===null">0</span> {{photo.number_of_ratings}} )</small>
                        </small>
                    </h2>
                    <a class="btn btn-dark" style="color: white;" (click)="moreInfoAboutPhoto(photo.photo_id)">Zobacz więcej</a>
                </div>
            </div>
            <!-- /.row -->
            <hr>
        </div>

    </div>
</div>
<pagination-controls (pageChange)="p =$event" previousLabel="Poprzednia" nextLabel="Następna"></pagination-controls>